:where(.mr-nav-brand) {
  background-color: var(--mr-color-primary);
  color: var(--mr-color-text-on-primary);
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem 0 0;

  a {
    color: var(--mr-color-text-on-primary);
    text-decoration: none;
  }
}

:where(.mr-search-trigger) {
  background-color: transparent;
  display: flex;
  margin: 0 1rem 0 0;
  justify-content: start;
  cursor: pointer;
  color: var(--mr-color-text-on-primary-darker);
  border: solid 2px var(--mr-color-text-on-primary-darker);

  :where(.mr-search-trigger__label) {
    width: auto;
    padding: 0;
  }

  &:hover {
    color: var(--mr-color-text-on-primary);
    border: solid 2px var(--mr-color-text-on-primary);
    box-shadow: none;
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: none;
  }
}

:where(.mr-nav-title) {
  color: var(--mr-color-text-on-primary);
  font-size: 2.25rem;
  display: inline;
  margin-bottom: 0;
  text-align: center;

  a {
    color: var(--mr-color-text-on-primary);
    text-decoration: none;
  }
}

:where(.mr-nav-icon) {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--mr-color-text-primary);

  > svg {
    margin: 0;
    fill: var(--mr-color-text-primary);
  }
}

:where(.mr-nav-icon[aria-current="page"]) {
  border: 2px solid var(--mr-color-text-primary);

  > svg {
    fill: var(--mr-color-text-primary);
  }

  &:hover {
    border-color: var(--mr-color-main-text-area);

    > svg {
      fill: var(--mr-color-main-text-area-darker);
    }
  }
}

:where(.mr-shell__topbar) {
  :where(.mr-shell__button) ~ :where(.mr-nav-title) {
    margin-left: 4rem;
  }

  :where(.mr-search-trigger) {
    max-width: 15rem;
    display: flex;
    width: 100%;
    padding: 0.3rem;
    font-weight: 700;
    transition: all var(--mr-motion-duration-normal) ease;
    border-radius: var(--mr-radius-medium);
    font-size: 1.3rem;

    span {
      margin: auto 0;
    }
  }

  @media (max-width: 640px) {
    :where(.mr-search-trigger) span {
      display: none;
    }
  }
}

:where(.mr-shell__sidebar, .mr-shell__drawer) {
  :where(.mr-shell__sidebar-titlebar) {
    display: flex;
    background-color: var(--mr-color-secondary-darker);
    justify-content: space-between;
    align-items: center;
  }

  :where(.mr-shell__sidebar-body) {
    display: flex;
    overflow: scroll;
    overflow-x: hidden;
    flex-direction: column;
    width: 100%;
    border-radius: var(--mr-radius-medium);
    margin: 0 auto 0.8rem auto;
  }

  :where(.mr-shell__back) {
    margin: 0.3rem 0 0 0.6rem;
    color: var(--mr-color-text-secondary);
    text-decoration: none;
    font-weight: bold;

    &:visited {
      color: var(--mr-color-text-secondary);
    }

    &:hover {
      text-decoration: underline;
      color: var(--mr-color-text-primary);
    }
  }
}
