.navbar-brand {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem 0 0;
  a {
    color: var(--color-text-on-primary);
    text-decoration: none;
  }
}

:not(#\9).search-area {
  background-color: transparent;
  display: flex;
  margin: 0 1rem 0 0;
  justify-content: start;
  cursor: pointer;
  color: var(--color-text-on-primary-darker);
  border: solid 2px var(--color-text-on-primary-darker);
  .text {
    width: auto;
    padding: 0;
  }
  &:hover {
    color: var(--color-text-on-primary);
    border: solid 2px var(--color-text-on-primary);
    box-shadow: none;
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:active {
    transform: none;
  }
}
.navbar-title {
  color: var(--color-text-on-primary);
  font-size: 2.25rem;
  display: inline;
  margin-bottom: 0;
  text-align: center;
  a {
    color: var(--color-text-on-primary);
    text-decoration: none;
  }
}

.main-navbar__icon-wrapper {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--color-text-primary);
}

.main-navbar__icon {
  margin: 0;
  fill: var(--color-text-primary);
}

.main-navbar__icon--selected {
  fill: var(--color-text-primary);

  &:hover {
    fill: var(--color-main-text-area-darker);
  }
}

.main-navbar__icon-wrapper--selected {
  border: 2px solid var(--color-text-primary);
  &:hover {
    border-color: var(--color-main-text-area);
  }
}

.stt-primary-topbar {
  .stt-button ~ .navbar-title {
    margin-left: 4rem;
  }
  .search-area {
    max-width: 15rem;
    display: flex;
    width: 100%;
    padding: 0.3rem;
    font-weight: 700;
    transition: all 0.3s ease;
    border-radius: var(--border-radius-medium);
    font-size: 1.3rem;
    span {
      margin: auto 0;
    }
  }
  @media (max-width: 640px) {
    .search-area {
      span {
        display: none;
      }
    }
  }
}
.stt-primary-sidebar {
  .header {
    display: flex;
    background-color: var(--color-secondary-darker);
    justify-content: space-between;
    align-items: center;
  }
  .upper-section {
    display: flex;
    overflow: scroll;
    /* Overflow should be fixed not hidden */
    overflow-x: hidden;
    flex-direction: column;
    width: 100%;
    border-radius: var(--border-radius-medium);
    margin: 0 auto 0.8rem auto;
  }
  .back-button {
    margin: 0.3rem 0 0 0.6rem;
    color: var(--color-text-secondary);
    text-decoration: none;
    font-weight: bold;
    &:visited {
      color: var(--color-text-secondary);
    }
    &:hover {
      text-decoration: underline;
      color: var(--color-text-primary);
    }
  }
}
