/* Card: an opt-in container for related content. */
:where(.mr-card) {
  border: 1px solid var(--mr-color-primary-darker);
  padding: 0.5rem;
  border-radius: var(--mr-radius-medium);
  margin-bottom: 1rem;

  > :where(header, .mr-card__header) {
    margin: -0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 0;
    background-color: var(--mr-color-primary-darker);
    color: var(--mr-color-text-on-primary);
    display: block;
    border-radius: 0;
  }

  &:where(.mr-card--secondary) {
    border-color: var(--mr-color-secondary-darker);
    background-color: var(--mr-color-secondary);
    > :where(header, .mr-card__header) {
      background-color: var(--mr-color-secondary-darker);
    }
  }
  &:where(.mr-card--positive) {
    border-color: var(--mr-color-positive-darker);
    background-color: var(--mr-color-positive);
    > :where(header, .mr-card__header) {
      background-color: var(--mr-color-positive-darker);
    }
  }
  &:where(.mr-card--negative) {
    border-color: var(--mr-color-negative-darker);
    background-color: var(--mr-color-negative);
    > :where(header, .mr-card__header) {
      background-color: var(--mr-color-negative-darker);
    }
  }
  &:where(.mr-card--warning) {
    border-color: var(--mr-color-warning-darker);
    background-color: var(--mr-color-warning);
    > :where(header, .mr-card__header) {
      background-color: var(--mr-color-warning-darker);
    }
  }
  &:where(.mr-card--info) {
    border-color: var(--mr-color-info-darker);
    background-color: var(--mr-color-info);
    > :where(header, .mr-card__header) {
      background-color: var(--mr-color-info-darker);
    }
  }
  &:where(.mr-card--help) {
    border-color: var(--mr-color-help-darker);
    background-color: var(--mr-color-help);
    > :where(header, .mr-card__header) {
      background-color: var(--mr-color-help-darker);
    }
  }
}

:where(.mr-card--elevated) {
  padding: 0.5rem;
  border-radius: var(--mr-radius-large);
  margin-bottom: 1rem;
  background: var(--mr-color-secondary);
  box-shadow: 0 2px 5px var(--mr-color-secondary);
}
