---
import LibraryStyleLayout from "../../astro/layouts/LibraryStyleLayout.astro";
---

<LibraryStyleLayout>
  <header class="ss-component">
    <aside class="ss-primary-sidebar">
      <a id="notes-display-mobile-icon" href="/notes/30/">
        <div class="main-navbar__icon-wrapper">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="main-navbar__icon"
            height="24px"
            width="24px"
            viewBox="0 -960 960 960"
          >
            <path
              d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"
            ></path>
          </svg>
        </div>
      </a>
      <a href="/notes/">
        <div
          class="main-navbar__icon-wrapper main-navbar__icon-wrapper--selected"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="main-navbar__icon main-navbar__icon--selected"
            height="24px"
            width="24px"
            viewBox="0 -960 960 960"
          >
            <path
              d="M320-280q17 0 28.5-11.5T360-320q0-17-11.5-28.5T320-360q-17 0-28.5 11.5T280-320q0 17 11.5 28.5T320-280Zm0-160q17 0 28.5-11.5T360-480q0-17-11.5-28.5T320-520q-17 0-28.5 11.5T280-480q0 17 11.5 28.5T320-440Zm0-160q17 0 28.5-11.5T360-640q0-17-11.5-28.5T320-680q-17 0-28.5 11.5T280-640q0 17 11.5 28.5T320-600Zm120 320h240v-80H440v80Zm0-160h240v-80H440v80Zm0-160h240v-80H440v80ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"
            ></path>
          </svg>
        </div>
      </a>
      <a href="/notes/directories/">
        <div class="main-navbar__icon-wrapper">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="main-navbar__icon"
            height="24px"
            width="24px"
            viewBox="0 -960 960 960"
          >
            <path
              d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"
            ></path>
          </svg>
        </div>
      </a>
      <a href="#" onclick="document.getElementById('logout-form').submit();">
        <div class="main-navbar__icon-wrapper">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="main-navbar__icon"
            height="24px"
            width="24px"
            viewBox="0 -960 960 960"
          >
            <path
              d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"
            ></path>
          </svg>
        </div>
      </a>
    </aside>
    <!-- LEFT SIDEBAR -->
    <aside id="notes-sidebar" class="ss-secondary-sidebar">
      <div class="sidebar-sticky-wrapper">
        <div class="sidebar-button-wrapper">
          <a
            class="button sidebar-button"
            href="/notes/add_note/"
            data-popover=""
          >
            Add New Note
          </a>
        </div>
        <div class="sidebar-top-label"><p>Choose directory:</p></div>
      </div>
      <!-- NOTES LIST -->
      <div class="note-titles-list"></div>
    </aside>
    <button class="ss-toggle-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="28px"
        viewBox="0 -960 960 960"
        width="28px"
      >
        <path
          d="m251.33-204.67-46.66-46.66L433.33-480 204.67-708.67l46.66-46.66L480-526.67l228.67-228.66 46.66 46.66L526.67-480l228.66 228.67-46.66 46.66L480-433.33 251.33-204.67Z"
        ></path>
      </svg></button
    >
    <button class="ss-toggle-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="32px"
        viewBox="0 -960 960 960"
        width="32px"
        fill="currentColor"
      >
        <path
          d="M120-240v-66.67h720V-240H120Zm0-206.67v-66.66h720v66.66H120Zm0-206.66V-720h720v66.67H120Z"
        ></path>
      </svg></button
    >
  </header>
  <main class="responsive-container ss-navigation-main-content">
    <h2>Copyable Snippet</h2>

    <p>
      Use the <code>data-copyable-snippet</code> attribute on any <code
        >&lt;pre&gt;</code
      > element that wraps a <code>&lt;code&gt;</code> block to enable automatic
      copy functionality. A copy button will be injected automatically if not already
      present.
    </p>

    <h3>Lorem</h3>
    <pre
      data-copyable-snippet><code>{`<ul class="clickable-item-list">
<li><a href="#">Home</a></li>
<li><a href="#">About</a></li>
<li>
  <details>
    <summary><a>Services</a></summary>
    <ul>
      <li>
        <a href="#">Web </a>
      </li>
      <li><a href="#">Mobile Apps</a></li>
      <li>
        <details>
          <summary>Consulting</summary>
          <ul>
            <li><a href="#">Strategy</a></li>
            <li><a href="#">Marketing</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </details>
</li>
<li><a href="#">Contact</a></li>
</ul>
`}</code></pre>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus
      ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus
      duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar
      vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl
      malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
      aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos
      himenaeos. Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
      faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
      pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
      Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa
      nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
      aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos
      himenaeos. Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
      faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
      pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
      Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa
      nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
      aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos
      himenaeos. Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
      faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
      pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
      Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa
      nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
      aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos
      himenaeos. Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
      faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
      pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
      Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa
      nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
      aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos
      himenaeos. Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
      faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi
      pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
      Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
    </p>
  </main>
</LibraryStyleLayout>
