---
import LibraryStyleLayout from "../../astro/layouts/LibraryStyleLayout.astro";

const buttonSnippet = `    
<button>Default</button>
<button class="outlined">Default Outlined</button>
<button class="outlined secondary">Secondary</button>
<button class="outlined positive">Positive</button>
<button class="outlined negative">Negative</button>
<button class="outlined warning">Warning</button>
<button class="outlined info">Info</button>
<button class="outlined help">Help</button>
`;
---

<LibraryStyleLayout>
  <div class="responsive-container">
    <h1>Button</h1>
    <p>Buttons are styled by default.</p>
    <p>
      Use the <code>outlined</code> class to make the button outlined.
    </p>
    <p>
      To change the color use classes like <code>warning</code>. All available
      colors are listed in example below.
    </p>
    <h2>Example usage:</h2>
    <pre data-copyable-snippet><code>{buttonSnippet}</code></pre>

    <h2>Rendered snippet with sample text:</h2>
    <Fragment set:html={buttonSnippet} />
  </div>
</LibraryStyleLayout>
