---
import LibraryStyleLayout from "../../astro/layouts/LibraryStyleLayout.astro";
import { base } from "astro:config/client";
---

<LibraryStyleLayout>
  <main class="responsive-container stt-navigation-main-content">
    <h1>Clickable Item List</h1>
    <p>
      To use the Clickable Item List, add <code>clickable-item-list</code> class
      to your unordered list root element.
    </p>
    <p>This list also handles collapsing via <code>details</code></p>
    <h2>Full Usage Example:</h2>
    <pre
      data-copyable-snippet><code>{`<ul class="clickable-item-list">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li>
    <details>
      <summary><a>Services</a></summary>
      <ul>
        <li>
          <a href="#">Web </a>
        </li>
        <li><a href="#">Mobile Apps</a></li>
        <li>
          <details>
            <summary>Consulting</summary>
            <ul>
              <li><a href="#">Strategy</a></li>
              <li><a href="#">Marketing</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
  <li><a href="#">Contact</a></li>
</ul>
`}</code></pre>
    <h2>Rendered snippet:</h2>
    <ul class="clickable-item-list">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li>
        <details>
          <summary><a>Services</a></summary>
          <ul>
            <li>
              <a href="#">Web </a>
            </li>
            <li><a href="#">Mobile Apps</a></li>
            <li>
              <details>
                <summary>Consulting</summary>
                <ul>
                  <li><a href="#">Strategy</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </details>
      </li>
      <li><a href="#">Contact</a></li>
    </ul>
  </main>
</LibraryStyleLayout>
