---
import LibraryStyleLayout from "../../astro/layouts/LibraryStyleLayout.astro";
import { base } from "astro:config/client";

const snippet = `<form>
      <div data-resettable-file-input>
        <label for="message_attachments">Attachments (PDF/Images)</label>
        <input type="file" multiple="multiple" />
      </div>
    </form>`;
---

<LibraryStyleLayout>
  <main class="responsive-container stt-navigation-main-content">
    <h1>Resettable file input</h1>

    <p>
      To use the resettable file input, add <code>resettable</code> attribute
      to your file input's wrapper.
    </p>

    <h2>Full Usage Example:</h2>

    <pre data-copyable-snippet><code>{snippet}</code></pre>

    <h2>Rendered snippet:</h2>

    <Fragment set:html={snippet} />
  </main>
</LibraryStyleLayout>
