:root {
  --stt-primary-topbar-height: 4rem;
  --stt-secondary-topbar-height: 3rem;
  --stt-primary-sidebar-width: 20rem;
}

/* Topbars & Sidebar Layout */
.stt-primary-sidebar {
  height: calc(100vh - var(--stt-primary-topbar-height));
  width: var(--stt-primary-sidebar-width);
  top: 0;
  overflow: auto;
}

.stt-primary-topbar {
  height: var(--stt-primary-topbar-height);
  width: 100vw;
  overflow: auto;
}

.stt-secondary-topbar {
  height: var(--stt-secondary-topbar-height);
  width: calc(100vw - var(--stt-primary-sidebar-width));
  overflow: auto;
}

/* Sidebar positioning */
.primary-topbar {
  background-color: var(--color-secondary-darker);
  position: sticky;
  width: 100vw;
  height: var(--stt-primary-topbar-height);
  z-index: 1001;
  top: 0;
  left: 0;
}

.secondary-topbar {
  background-color: var(--color-secondary-lighter);
  position: sticky;
  left: var(--stt-primary-sidebar-width);
  height: 3rem;
  width: calc(100vw - var(--stt-primary-sidebar-width));
  z-index: 1001;
  overflow: auto;
}

.primary-sidebar,
.stt-sidebar {
  background-color: var(--color-secondary);
  top: var(--stt-primary-topbar-height);
  height: calc(100% - var(--stt-primary-topbar-height));
  width: var(--stt-primary-sidebar-width);
  left: 0;
  position: fixed;
  z-index: 1003;
}

/* Main content */
.main-content-toolbar,
.stt-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: calc(var(--stt-primary-sidebar-width) + 1rem);
}

/* Overlay logic */
.stt-overlay {
  display: none;
}

.stt-overlay.stt-overlay-visible {
  display: block;
  position: fixed;
  overflow-y: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1002;
}

/* Button base */
.stt-component {
  .button {
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: none;
    justify-content: center;
    align-items: center;
  }
  .button:hover {
    box-shadow: none;
  }
  .button svg path {
    fill: var(--color-text-secondary);
    transition: fill 0.3s ease;
  }
  .button:hover svg path {
    fill: var(--color-text-primary);
  }
  .hidden {
    display: none;
  }
}

/* Action buttons */
[data-stt-action="dismiss"] {
  display: none;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
  position: absolute;
  right: 0;
}

[data-stt-action="toggle"] {
  display: none;
  position: absolute;
  top: calc((var(--stt-primary-topbar-height) - 3.5rem) / 2);
  left: 0.75rem;
}
/* Responsive logic */
@media (max-width: 1700px) {
  .stt-navigation-main-content.responsive-container {
    margin-left: var(--stt-primary-sidebar-width);
  }
}

@media (max-width: 1400px) {
  .main-content-toolbar {
    transform: none;
  }
}

@media (max-width: 992px) {
  .stt-navigation-main-content.responsive-container {
    margin-left: auto;
  }

  .primary-sidebar,
  .stt-sidebar {
    transition: transform 0.3s ease-in-out;
    height: 100vh;
    top: 0;
  }

  .stt-sidebar.stt-drawer-open {
    transform: translateX(0);
  }

  .stt-sidebar:not(.stt-drawer-open) {
    transform: translateX(-100%);
  }

  .secondary-topbar {
    left: 0;
    width: 100vw;
  }

  [data-stt-action="dismiss"] {
    display: block;
  }

  [data-stt-action="toggle"] {
    display: block;
  }
}
