main {
  padding: 1rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: "Verdana", "Noto Sans", sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Liberation Serif", serif;
}

p {
  margin: 0.75rem 0;
}

img {
  max-width: 100%;
  margin: auto;
  height: auto;
  display: block;
}

figure {
  margin: 0;
  padding: 1rem 0;
}

figcaption {
  font-style: italic;
  text-align: center;
  padding-top: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.3rem;
}

details {
  padding: 0.5rem;
  background: var(--color-secondary);
  border-radius: var(--border-radius-large);
  margin-bottom: 1rem;
}

summary {
  cursor: pointer;
  font-weight: bold;
}

details[open] summary {
  margin-bottom: 0.5rem;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--color-secondary-darker);
  box-shadow: 2px 2px 0 -0 var(--color-text-on-primary);
  margin: 2rem 0;
}

blockquote {
  border-left: 4px solid var(--color-primary-darker);
  margin: 1rem 0;
  padding-left: 1rem;
  font-style: italic;
}

footer {
  text-align: center;
  padding: 1rem 0;
}

small,
sub,
sup {
  font-size: 0.8em;
}

kbd {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary-darker);
  border-radius: var(--border-radius-large);
  margin: 0 2px;
  padding: 0.2rem;
}
iframe {
  width: 100%;
  height: 500px;
  border: none;
}
audio,
video,
map {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: var(--border-radius-large);
}
