---
import "../../globalStyleLibrary/markup-refine-lib.css";
interface Props {}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <slot />
    <script
      src="../../attributeComponents/markup-refine-lib-attribute-components.ts"
    ></script>
  </body>
</html>
