---
interface Props {}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, interactive-widget=resizes-content"
    />
  </head>
  <body>
    <slot />
    <script src="../layoutImports.ts"></script>
  </body>
</html>
