---
interface Props {}
import { base } from "astro:config/client";
---

<div class="stt-primary-sidebar-top">
  <button data-stt-action="dismiss" class="stt-button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="40px"
      viewBox="0 -960 960 960"
      width="40px"
    >
      <path
        d="m251.33-204.67-46.66-46.66L433.33-480 204.67-708.67l46.66-46.66L480-526.67l228.67-228.66 46.66 46.66L526.67-480l228.66 228.67-46.66 46.66L480-433.33 251.33-204.67Z"
      ></path>
    </svg>
  </button>
</div>

<div>
  <ul class="clickable-item-list">
    <li><a href="#">Quick start</a></li>
    <li><a href="#">Installation</a></li>
    <li>
      <details>
        <summary><a>Content components</a></summary>
        <ul>
          <li><a href="#">Card</a></li>
          <li><a href="#">Pill</a></li>
          <li><a href="#">Copyable snippet</a></li>
          <li><a href="#">Clickable item list</a></li>
          <li><a href="#">Tree list container</a></li>
          <li><a href="#">Responsive container</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details>
        <summary><a>Navigation components</a></summary>
        <ul>
          <li><a href="#">Side top top navigation</a></li>
          <li><a href="#">Navigation tabs</a></li>
          <li><a href="#">Breadcrumbs</a></li>
          <li><a href="#">Search tool</a></li>
        </ul>
      </details>
    </li>
  </ul>
</div>
