@scope ([data-mr]) to ([data-mr-unstyled]) {
  :where(fieldset) {
    margin: 1rem 0;
    border-radius: var(--mr-radius-medium);
    border: solid var(--mr-control-border-width) var(--mr-color-secondary-darker);
  }

  :where(form) {
    margin: 1rem 0;
    padding: 1.5rem 2rem;
    background: var(--mr-color-background-light-contrast);
    border-radius: var(--mr-radius-large);

    & :where(button, input[type="submit"], input[type="reset"]) {
      margin: 1rem auto 0.5rem;
    }
  }

  :where(input, select, textarea) {
    padding: var(--mr-control-padding);
    border: var(--mr-control-border-width) solid var(--mr-color-secondary-darker);
    border-radius: var(--mr-radius-medium);
    margin: 0 auto 1.5rem;
    width: 100%;
    display: block;
    justify-content: center;
    background-color: var(--mr-color-background);
    color: var(--mr-color-text-primary);

    &:focus {
      outline: var(--mr-focus-outline-width) var(--mr-focus-outline-style)
        var(--mr-color-primary-lighter);
    }

    &:disabled {
      background-color: var(--mr-color-secondary);
    }
  }

  :where(input[type="checkbox"], input[type="radio"]) {
    display: inline;
    margin: 0;
    width: auto;
  }

  :where(input[type="radio"]:checked, input[type="checkbox"]:checked) {
    background-color: var(--mr-color-primary);
    accent-color: var(--mr-color-primary);
  }

  :where(input[type="file"]) {
    background-color: transparent;
    border: var(--mr-control-border-width) solid var(--mr-color-secondary-darker);
    border-radius: var(--mr-radius-medium);
    padding: var(--mr-control-padding);
    margin: 0.5rem auto 1rem;
    width: 100%;
    max-width: 100%;
    display: block;
    color: var(--mr-color-text-primary);
    font-size: medium;
  }

  :where(input[type="file"])::file-selector-button {
    background-color: var(--mr-color-primary);
    color: var(--mr-color-text-on-primary);
    border: var(--mr-control-border-width) solid var(--mr-color-primary-darker);
    border-radius: var(--mr-radius-medium);
    padding: var(--mr-control-padding);
    cursor: pointer;
    margin-right: 0.5rem;
  }

  :where(input[type="file"])::file-selector-button:hover {
    box-shadow: inset 0 0 0 2px var(--mr-color-primary-darker);
  }
}
