@scope ([data-mr]) to ([data-mr-unstyled]) {
  :where(h1, h2, h3, h4, h5, h6) {
    color: var(--mr-color-text-secondary);
    margin-bottom: 0.3rem;
    font-family: var(--mr-font-family-serif);
  }

  :where(h1) {
    font-size: 2rem;
    margin-top: 0;
  }
}
