@scope ([data-mr]) to ([data-mr-unstyled]) {
  :where(a) {
    color: var(--mr-color-link);
  }

  :where(a:hover, a:focus) {
    color: var(--mr-color-link-hover);
    text-decoration-thickness: 0.1em;
  }

  :where(a:visited) {
    color: var(--mr-color-link-visited);
  }
}
