table {
  margin: auto;
  max-width: 100%;
  border-collapse: collapse;
  padding: 1rem 0.2rem 0;
  margin-bottom: 0.5rem;
  overflow-x: scroll;
  text-align: center;
}
tr:hover {
  background-color: var(--color-main-text-area-darker);
  transition: background-color 0.2s ease-in-out;
}
th,
td {
  border: 1px solid var(--color-secondary-darker);
  padding: 0.5rem;
  text-align: left;
}

tr {
  background-color: var(--color-main-text-area);
  th {
    border: 1px solid var(--color-secondary-darker);
    padding: 0.5rem;
    background-color: var(--color-secondary);
  }
}

thead {
  background-color: var(--color-secondary);
}
tbody {
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  caption {
    width: 95%;
  }

  tr {
    border: 1px solid var(--color-secondary-darker);
    margin-bottom: 0.5rem;
  }

  td:before {
    content: attr(data-label);
    padding-right: 10px;
    color: var(--color-text-secondary);
    text-align: left;
    font-weight: bold;
  }
}
