.breadcrumbs {
  ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li + li::before {
    content: "›";
    padding: 0 0.5rem;
    margin: 0;
  }
  li:last-child {
    font-weight: bold;
    pointer-events: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .breadcrumbs {
    padding: 0.5rem;
    a {
      font-size: 0.9rem;
    }
  }
}
