.tree-list-container {
  padding: 1rem;

  summary {
    position: relative;
    inset: -0.1rem 0 0 -0.2rem;
  }
  details {
    padding: 0;
    background: rgba(0, 0, 0, 0);
    border-radius: 0;
    margin: 0;
  }
  details summary::-webkit-details-marker,
  details summary::marker {
    color: var(--color-secondary-darker);
  }

  /* Important: When using clickable elements in nested tree list set z-index to be on top */

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      border-left: 3px solid var(--color-secondary-darker);
      position: relative;
      padding-left: 1rem;
      margin-top: -0.3rem;
    }

    li:last-child {
      border: none;
    }

    li:last-child:after {
      border-left: 3px solid var(--color-secondary-darker);
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      height: 0.7rem;
    }

    li:before {
      border-bottom: 3px solid var(--color-secondary-darker);
      content: "";
      display: block;
      position: absolute;
      inset: 0.7rem auto auto 0;
      width: 0.6rem;
    }
  }
  /* Next three selectors are for elimination tree elments if there is only one element in the list */
  > ul:first-of-type {
    > li:only-child:after {
      border: none;
      content: none;
    }
    > li:only-child {
      border: none;
      content: none;
    }
    > li:only-child:before {
      content: none;
    }
  }
}
