:root {
  --stt-primary-topbar-height: 4rem;
  --stt-secondary-topbar-height: 3rem;
  --stt-primary-sidebar-width: 20rem;
}
.stt-component {
  top: 0;
  position: sticky;
  z-index: 1001;
}
/* Topbars & Sidebar Layout */
.stt-primary-sidebar {
  height: calc(100vh - var(--stt-primary-topbar-height));
  width: var(--stt-primary-sidebar-width);
  top: 0;
  overflow: auto;
}

.stt-secondary-topbar {
  height: var(--stt-secondary-topbar-height);
  width: 100vw;
  overflow: auto;
  background-color: var(--color-secondary-lighter);
  height: 3rem;
}

/* Sidebar positioning */
.stt-primary-topbar {
  background-color: var(--color-primary);
  width: 100vw;
  height: var(--stt-primary-topbar-height);
  top: 0;
  left: 0;
  .stt-button ~ .navbar-title {
    margin-left: 4rem;
  }
  .search-area {
    max-width: 15rem;
    display: flex;
  }
  @media (max-width: 640px) {
    .search-area {
      span {
        display: none;
      }
    }
  }
}

.stt-primary-sidebar {
  background-color: var(--color-secondary);
  top: var(--stt-primary-topbar-height);
  height: calc(100% - var(--stt-primary-topbar-height));
  width: var(--stt-primary-sidebar-width);
  overflow-x: hidden;
  left: 0;
  position: fixed;
  z-index: 1003;
}

.stt-primary-sidebar ~ .stt-secondary-topbar {
  margin-left: var(--stt-primary-sidebar-width);
  width: calc(100vw - var(--stt-primary-sidebar-width));
}

/* Overlay logic */
.stt-overlay {
  display: none;
}

/* Button base */
.stt-component {
  .stt-button {
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: none;
    justify-content: center;
    align-items: center;
  }
  .stt-button:hover {
    box-shadow: none;
  }
  .stt-button:focus {
    outline: none;
  }
  .stt-button svg path {
    fill: var(--color-text-secondary);
    transition: fill 0.3s ease;
  }
  .stt-button:hover svg path {
    fill: var(--color-text-primary);
  }
  .hidden {
    display: none;
  }
}

/* Action buttons */
[data-stt-action="dismiss"] {
  display: none;
}

[data-stt-action="toggle"] {
  display: none;
  position: absolute;
  top: calc((var(--stt-primary-topbar-height) - 3.5rem) / 2);
  left: 0.75rem;
}
/* Responsive logic */
@media (max-width: 1700px) {
  .stt-navigation-main-content.responsive-container {
    margin-left: var(--stt-primary-sidebar-width);
  }
}

@media (max-width: 1400px) {
  .main-content-toolbar {
    transform: none;
  }
}

@media (max-width: 992px) {
  body:has(.stt-overlay-visible) {
    overflow: hidden;
  }

  .stt-overlay.stt-overlay-visible {
    display: block;
    position: fixed;
    overflow-y: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-overlay);
    z-index: 1002;
  }

  .stt-navigation-main-content.responsive-container {
    margin-left: auto;
  }

  .primary-sidebar,
  .stt-primary-sidebar {
    transition: transform 0.3s ease-in-out;
    height: 100vh;
    top: 0;
  }

  .stt-primary-sidebar.stt-drawer-open {
    transform: translateX(0);
  }

  .stt-primary-sidebar:not(.stt-drawer-open) {
    transform: translateX(-100%);
  }

  .stt-primary-sidebar ~ .stt-secondary-topbar,
  .stt-secondary-topbar {
    margin-left: 0;
    width: 100vw;
  }

  [data-stt-action="dismiss"] {
    display: block;
  }

  [data-stt-action="toggle"] {
    display: block;
  }
}
[data-stt-action="toggle"].stt-button svg path {
  fill: var(--color-text-on-primary-darker);
  transition: fill 0.3s ease;
}
[data-stt-action="toggle"].stt-button:hover svg path {
  fill: var(--color-text-on-primary);
}
.stt-primary-topbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  height: var(--stt-primary-topbar-height);
}
.secondary-topbar-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
  margin: auto 2rem;
  align-items: center;
  height: 100%;
}
.stt-primary-sidebar {
  hr {
    border: none;
    height: 2px;
    background-color: var(--color-secondary-darker);
    box-shadow: none;
    margin: 0.5rem 1rem;
  }
}
.stt-primary-sidebar-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  [data-stt-action="dismiss"] {
    flex-grow: 0;
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.5rem 1rem;
  }
}
.stt-secondary-topbar {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: auto 1rem;
  }
}
