:where(.mr-pill) {
  border: 1px solid var(--mr-color-primary-darker);
  background-color: var(--mr-color-primary-lighter);
  padding: 0.1rem 0.2rem;
  border-radius: var(--mr-radius-large);
  margin: 0.2rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;

  &:where(.mr-pill--secondary) {
    border-color: var(--mr-color-secondary-darker);
    background-color: var(--mr-color-secondary);
  }
  &:where(.mr-pill--positive) {
    border-color: var(--mr-color-positive-darker);
    background-color: var(--mr-color-positive);
  }
  &:where(.mr-pill--negative) {
    border-color: var(--mr-color-negative-darker);
    background-color: var(--mr-color-negative);
  }
  &:where(.mr-pill--warning) {
    border-color: var(--mr-color-warning-darker);
    background-color: var(--mr-color-warning);
  }
  &:where(.mr-pill--info) {
    border-color: var(--mr-color-info-darker);
    background-color: var(--mr-color-info);
  }
  &:where(.mr-pill--help) {
    border-color: var(--mr-color-help-darker);
    background-color: var(--mr-color-help);
  }
}
