body:has(.search-tool-overlay) {
  overflow: hidden;
}

.search-tool-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-overlay);
  backdrop-filter: blur(3px);
  z-index: 9998;
}

.search-tool-modal {
  --search-input-border-width: 2px;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  background: var(--color-background);
  padding: 0.5rem 1em;
  border-radius: 8px;
  width: var(--max-container-width);
  max-height: 70%;
  min-height: calc(7.5rem + 3em + 4px);
  z-index: 9999;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.search-tool-dismiss {
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: none;
  margin: -0.5rem -0.75rem 0 0;
  align-self: end;
  outline: none;
}
:not(#\	).search-tool-dismiss {
  &:hover {
    box-shadow: none;
  }
  &:focus {
    outline: none;
  }
}

:not(#\9).search-tool-input {
  border-width: var(--search-input-border-width);
  width: 100%;
  min-height: 3rem;
  font-size: 1.1rem;
  padding: 0.5em;
  padding-left: 3.5rem;
  margin-bottom: 0.1rem;
}

.search-tool-results {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
  overflow-y: auto;
}

.search-tool-result {
  padding: 4px 0;
  border-bottom: 1px solid var(--color-background-light-contrast);
}

.search-tool-message {
  text-align: center;
  padding: 1.5em 0 0.5em;
  color: var(--color-negative-darker);
  font-style: italic;
}

.search-tool-spinner {
  text-align: center;
  margin: 0.5em 0;
  font-size: 0.9em;
  color: var(--color-text-primary);
}

:not(#\9).search-tool-result-link {
  color: var(--color-text-primary);
  text-decoration: none;
}

.search-tool-result-link:hover strong {
  text-decoration: underline;
}

.search-tool-result-link strong {
  color: var(--color-text-primary);
}

.search-tool-result-count {
  margin: 0.5em 0;
}
.search-tool-input-icon {
  margin-left: -0.4rem;
  --spinner-border-width: 3px;
  fill: var(--color-primary-lighter);
  border: var(--spinner-border-width) solid transparent;
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: calc(
    4rem - 15px - var(--search-input-border-width) - var(--spinner-border-width)
  );
  left: calc(
    0.5rem + 15px + var(--search-input-border-width) +
      var(--spinner-border-width)
  );
}
.search-tool-spinner {
  width: 22px;
  height: 22px;
  margin-left: 0;
  border-color: var(--color-primary-lighter);
  top: calc(
    4rem - 14px - var(--search-input-border-width) - var(--spinner-border-width)
  );
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1700px) {
  .search-tool-modal {
    width: 60%;
  }
}

@media (max-width: 1400px) {
  .search-tool-modal {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .search-tool-modal {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .search-tool-modal {
    width: 95%;
  }
}
