:root {
  --stt-primary-topbar-height: 5rem;
  --stt-secondary-topbar-height: 3rem;
  --stt-primary-sidebar-width: 20rem;
}
.stt-navigation-main-content {
  margin-left: calc(var(--stt-primary-sidebar-width) + 1rem);
  margin-top: calc(
    var(--stt-primary-topbar-height) + var(--stt-secondary-topbar-height) + 1rem
  );
}
.stt-navigation-main-content, .responsive-container {
  margin-right: calc(var(--stt-primary-sidebar-width) + 1rem);
}
@media (max-width: 1400px) {
  .stt-navigation-main-content, .responsive-container {
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .stt-navigation-main-content {
    margin-left: auto;
  }
}
