:root {
  --stt-primary-topbar-height: 5rem;
  --stt-secondary-topbar-height: 3rem;
  --stt-primary-sidebar-width: 20rem;
}

.stt-primary-sidebar {
  height: calc(100vh - var(--stt-primary-topbar-height));
  width: var(--stt-primary-sidebar-width);
  overflow: auto;
}
.stt-primary-topbar {
  height: var(--stt-primary-topbar-height);
  width: 100vw;
  overflow: auto;
}
.stt-secondary-topbar {
  height: var(--stt-secondary-topbar-height);
  width: calc(100vw - var(--primary-sidebar-width));
  overflow: auto;
}

side-top-top-navigation {
  display: none;
}
