.clickable-item-list {
  color: var(--color-text-on-secondary);
  position: relative;
  padding: 0 0.5rem;
  ul {
    margin: 0;
    padding-left: 1rem;
  }
  details {
    background-color: inherit;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
    li {
      padding: 0.1rem;
    }
  }
  details[open] {
    background-color: var(--color-secondary);
  }
  summary {
    padding: 0.1rem;
    color: var(--color-text-secondary);
    &:hover {
      color: var(--color-text-on-secondary);
    }
  }
  summary li {
    width: 100%;
  }
  li {
    padding: 0;
    list-style-type: none;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: var(--color-secondary-lighter);
    }
  }

  a {
    width: 100%;
    display: inline-block;
    padding: 0.1rem 0.4rem;
    white-space: nowrap;
    text-decoration: none;
    color: var(--color-text-secondary);
    &:visited {
      color: var(--color-text-secondary);
    }
    &:hover {
      text-decoration: underline;
      color: var(--color-text-on-secondary);
    }
  }
  details[open] summary {
    margin-bottom: 0;
  }

  details summary {
    list-style: none;
    &::after {
      content: "◀";
      border-radius: 1em;
      font-weight: bold;
      padding: 0 15px;
      margin-inline-start: 5px;
      position: absolute;
      right: 0.5rem;
      transition: transform 0.1s ease-in-out;
    }
  }
  details[open] > summary::after {
    transform: translateY(25%) rotate(-90deg);
    transition: transform 0.1s ease-in-out;
  }
  details summary::-webkit-details-marker {
    margin-left: 5rem;
    display: none;
  }
  details ul {
    li {
      padding: 0 0.1rem 0 0;
      margin-right: 0.3rem;
      &:has(details) {
        padding: 0;
        margin-bottom: 0.3rem;
      }
    }
    a,
    details {
      padding: 0 0.4rem;
    }
    details[open] {
      padding: 0 0.4rem 0.3rem 0.4rem;
    }
  }
  details summary + ul {
    margin-top: 0.3rem;
  }
  details ul details summary {
    &::before {
      content: "";
      margin-left: -0.6rem;
      margin-top: -2px;
      border-left: 2px solid var(--color-text-secondary);
      float: left;
      height: 1.7rem;
    }
    &:hover {
      color: var(--color-text-on-secondary);
      &::before {
        border-color: var(--color-text-on-secondary);
      }
    }
  }
  details ul a {
    &::before {
      content: "";
      margin-left: -0.5rem;
      border-left: 2px solid var(--color-text-secondary);
      float: left;
      height: 1.7rem;
    }
    &:hover {
      color: var(--color-text-on-secondary);
      &::before {
        border-color: var(--color-text-on-secondary);
      }
    }
  }
  .selected {
    color: var(--color-text-on-secondary);
    background-color: var(--color-secondary-lighter);
    &::before {
      border-color: var(--color-text-on-secondary);
    }
  }
}

ul[data-clickable-item-list-autoselector] {
  margin: auto;
  width: calc(100% - 1.2rem);
}
