---
import { getCollection } from "astro:content";
import BaseLayout from "../astro/layouts/BaseLayout.astro";

const rawComponents = await getCollection("rawComponents");
---

<BaseLayout title="Component Preview">
  <div class="main-container">
    <h1>Component preview</h1>
    <label for="component-select">Choose a component:</label>

    <select name="component" id="component-select">
      <option value="">--Please choose an option--</option>
      {
        rawComponents.map((component) => (
          <option value={component.data.url}>{component.id}</option>
        ))
      }
    </select>

    <iframe
      class="component-preview"
      src=""
      allow-scripts
      allow-same-origin
      title="Selected component display"></iframe>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const componentSelect = document.getElementById("component-select");
      const iframe = document.querySelector(".component-preview");

      // Load saved selection from localStorage
      const savedComponent = localStorage.getItem("selectedComponent");
      if (savedComponent) {
        componentSelect.value = savedComponent;
        iframe.src = savedComponent;
      }

      componentSelect.addEventListener("change", function (event) {
        const selectedValue = event.target.value;
        if (selectedValue) {
          iframe.src = selectedValue;
          localStorage.setItem("selectedComponent", selectedValue);
        }
      });
    });
  </script>

  <style>
    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    .component-preview {
      resize: both;
      overflow: auto;
      width: 80vw;
      height: 70vh;
    }
  </style>
</BaseLayout>
