:where(body:has(:where(.mr-shell))) {
  --mr-shell-topbar-height: 4rem;
  --mr-shell-subbar-height: 3rem;
  --mr-shell-sidebar-width: 20rem;
}

:where(.mr-shell) {
  top: 0;
  position: sticky;
  z-index: 1001;
}

:where(.mr-shell__sidebar) {
  height: calc(100vh - var(--mr-shell-topbar-height));
  width: var(--mr-shell-sidebar-width);
  top: 0;
  overflow: auto;
}

:where(.mr-shell__subbar) {
  height: var(--mr-shell-subbar-height);
  width: 100vw;
  overflow: auto;
  background-color: var(--mr-color-secondary-lighter);
}

:where(.mr-shell__topbar) {
  background-color: var(--mr-color-primary);
  width: 100vw;
  height: var(--mr-shell-topbar-height);
  top: 0;
  left: 0;

  :where(.mr-shell__button) ~ :where(.mr-nav-title) {
    margin-left: 4rem;
  }

  :where(.mr-search-trigger) {
    max-width: 15rem;
    display: flex;
    width: 100%;
    padding: 0.3rem;
    font-weight: 700;
    transition: all var(--mr-motion-duration-normal) ease;
    border-radius: var(--mr-radius-medium);
    font-size: 1.3rem;

    span {
      margin: auto 0;
    }
  }

  @media (max-width: 640px) {
    :where(.mr-search-trigger) span {
      display: none;
    }
  }
}

:where(.mr-shell__sidebar) {
  background-color: var(--mr-color-secondary);
  top: var(--mr-shell-topbar-height);
  height: calc(100% - var(--mr-shell-topbar-height));
  width: var(--mr-shell-sidebar-width);
  overflow-x: hidden;
  left: 0;
  position: fixed;
  z-index: 1003;
}

:where(.mr-shell__sidebar) ~ :where(.mr-shell__subbar) {
  margin-left: var(--mr-shell-sidebar-width);
  width: calc(100vw - var(--mr-shell-sidebar-width));
}


:where(.mr-shell) {
  :where(.mr-shell__button) {
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: none;
    justify-content: center;
    align-items: center;
  }

  :where(.mr-shell__button):hover {
    box-shadow: none;
  }

  :where(.mr-shell__button):focus-visible {
    outline: var(--mr-focus-outline-width) var(--mr-focus-outline-style)
      var(--mr-color-text-on-primary);
    outline-offset: 2px;
  }

  :where(.mr-shell__button) svg path {
    fill: var(--mr-color-text-secondary);
    transition: fill var(--mr-motion-duration-normal) ease;
  }

  :where(.mr-shell__button):hover svg path {
    fill: var(--mr-color-text-primary);
  }

  [hidden] {
    display: none;
  }
}

:where(.mr-shell__dismiss) {
  display: none;
}

:where(.mr-shell__toggle) {
  display: none;
  position: absolute;
  top: calc((var(--mr-shell-topbar-height) - 3.5rem) / 2);
  left: 0.3rem;
}

@media (max-width: 1700px) {
  body:has(:where(.mr-shell__sidebar)) {
    :where(.mr-shell__main):where(.mr-container) {
      margin-left: var(--mr-shell-sidebar-width);
    }
  }
}

@media (max-width: 1400px) {
  :where(.mr-shell__toolbar) {
    transform: none;
  }
}

@media (max-width: 992px) {
  body:has(dialog.mr-shell__drawer[open]) {
    overflow: hidden;
  }

  body:has(:where(.mr-shell__sidebar)) {
    :where(.mr-shell__main):where(.mr-container) {
      margin-left: auto;
    }
  }

  [data-mr-shell-initialized="true"] > :where(.mr-shell__sidebar) {
    display: none;
  }

  :where(dialog.mr-shell__drawer) {
    --mr-layer-drawer-inline-size: var(--mr-shell-sidebar-width);
    --mr-layer-surface-max-inline-size: min(var(--mr-shell-sidebar-width), 100vi);
    --mr-layer-surface-padding: 0;
    --mr-layer-surface-radius: 0;
    --mr-layer-surface-background: var(--mr-color-secondary);

    overflow-x: hidden;
  }

  :where(.mr-shell__sidebar) ~ :where(.mr-shell__subbar),
  :where(.mr-shell__subbar) {
    margin-left: 0;
    width: 100vw;
  }

  [data-mr-shell-initialized="true"] :where(.mr-shell__dismiss) {
    display: block;
  }

  [data-mr-shell-initialized="true"] :where(.mr-shell__toggle) {
    display: block;
  }
}

:where(.mr-shell__toggle):where(.mr-shell__button) svg path {
  fill: var(--mr-color-text-on-primary-darker);
  transition: fill var(--mr-motion-duration-normal) ease;
}

:where(.mr-shell__toggle):where(.mr-shell__button):hover svg path {
  fill: var(--mr-color-text-on-primary);
}

:where(.mr-shell__topbar-content) {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  height: var(--mr-shell-topbar-height);
}

:where(.mr-shell__subbar-content) {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
  margin: auto 2rem;
  align-items: center;
  height: 100%;
}

:where(.mr-shell__sidebar, .mr-shell__drawer) {
  hr {
    border: none;
    height: 2px;
    background-color: var(--mr-color-secondary-darker);
    box-shadow: none;
    margin: 0.5rem 1rem;
  }

  :where(.mr-shell__sidebar-section) {
    width: 95%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0.75rem auto;
  }
  :where(.mr-shell__sidebar-search) {
  width: calc(100% - 2rem);
  margin: 0.75rem auto;
  }
}

:where(.mr-shell__sidebar-header) {
  &:has(> :nth-child(2)) {
    justify-content: space-between;
  }

  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: center;

  :where(.mr-shell__dismiss) {
    flex-grow: 0;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.5rem 1rem;
  }
}

:where(.mr-shell__subbar) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: auto 1rem;
  }
}

