button.resettable-file-input-button {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  color: var(--color-primary-darker);
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  font-size: 1.6rem;
}

button.resettable-file-input-button:hover {
  background-color: transparent;
  box-shadow: none;
  border: none;
  opacity: 1;
}
button.resettable-file-input-button:focus {
  outline: none;
  background-color: transparent;
}
.resettable-file-input-container {
    position: relative;
}