pre,
code {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.05rem;
  line-height: 1.5;

  word-break: break-word;
  font-style: italic;
  padding: 0.1rem 0.3rem;
  margin-bottom: 0.3rem;
  overflow: auto;
}

pre {
  margin: 0.5rem 0 1.25rem 0;
  max-width: 100%;
}

code {
  display: inline-block;
  vertical-align: middle;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  background-color: var(--color-secondary);
  color: var(--color-text);
  border-radius: var(--border-radius-large);
}

code pre {
  margin: 0;
  max-width: 100%;
  max-width: 100%;
}

pre code {
  display: block;
  margin: 0rem;
  white-space: pre;
  overflow-x: auto;
  padding: 0.5rem;
}
