a {
  color: var(--color-link);
  transition: color 0.3s ease;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  text-decoration: underline;
}
a:visited {
  color: var(--color-link-visited);
}
